@keyframes drop {
  0% {
    top: 0;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  60% {
    opacity: 1;
    transform: scaleX(0.5) scaleY(2);
  }
  80% {
    opacity: 1;
    transform: scaleX(0.3) scaleY(2.5);
  }
  100% {
    top: 200vw;
    opacity: 0;
    transform: scaleX(0.3) scaleY(3);
  }
}

.drop {
  position: absolute;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  animation: drop 10s cubic-bezier(1, .19, .66, .12) forwards;
  background: radial-gradient(circle at 30% 30%, #660000, #ff0000);
  box-shadow: 0 0 10px rgba(244, 0, 0, 0.692);
}