:root {
    --primary-color: #ff9900;
    --secondary-color : rgb(2, 0, 27);
    --blanck-color : hsl(0, 0%, 100%);
    --link-color: #61dafb;
    --bg-color: #f0f4fa;
    
  }

.App {
    min-height: 100vh;
    text-align: center;
    font-family: Verdana;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

